    <link href="../Content/easyui/themes/metro-blue/easyui.css" rel="stylesheet" />
    <link href="../Content/easyui/themes/icon.css" rel="stylesheet" />
    <script src="../Content/easyui/jquery.min.js"></script>
    <script src="../Content/easyui/jquery.easyui.min.js"></script>
    <script src="../Content/easyui/locale/easyui-lang-zh_CN.js"></script>
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />

@{
    Layout = null;
}

<h2>Filecreate</h2>

<table class="easyui-datagrid" id="dg" style="width:1000px;height:500px"></table>
<!--<table class="easyui-datagrid" id="dg" style="width:800px;height:250px"
    data-options="url:'/Ashxs/Valids.ashx?action=getwjlistjson',fitColumns:true,singleSelect:true">
    <thead>
		<tr>
			<th data-options="field:'ID',width:100">Code</th>
			<th data-options="field:'LS_NO',width:100">Name</th>
			<th data-options="field:'LL_SIGN',width:100,align:'right'">Price</th>
			<th data-options="field:'LS_FBBMMC',width:100">Name</th>
			<th data-options="field:'LS_FBBMBH',width:100">Name</th>
			<th data-options="field:'LS_FBRXM',width:100">Name</th>
			<th data-options="field:'LDT_FBRRQ',width:100">Name</th>
			<th data-options="field:'LS_FBZT',width:100">Name</th>

		</tr>
    </thead>
</table>-->
<p id="pppv">sdfsf</p>

<script>
    var data;
    var dadd;
    $.ajaxSettings.async = false;
    $.get("/Ashxs/Valids.ashx?action=getwjlistjson", function (result) {
        data = result;
        dadd = JSON.stringify(result);
    }, "json");
    $.get("/Ashxs/Valids.ashx?action=getid", function (result) {
        data = result;
        dadd = result;
    });
    $.ajaxSettings.async = true;
    $(function () {
        $("#pppv").text(dadd);
        //$('#dg').datagrid('load', {
        //    LS_NO: '190918002'
        //});
    })

    $('#dg').datagrid({
        title: '入库详情',
        idField: 'ID',
        url: '/Ashxs/Valids.ashx?action=getwjlistjson',
        pagination: true,//表示在datagrid设置分页      
        rownumbers: true,
        singleSelect: true,
        striped: true,//奇偶行使用不同背景色
        nowrap: true,//数据显示在一行里
        pageSize:5,
        pageList: [5, 10, 15, 20],
        collapsible: true,
        fitColumns: true,
        remoteSort: false,
        loadMsg: "正在努力加载数据，请稍后...",
        queryParams: {},
        onLoadSuccess: function (data) {
            if (data.total == 0) {
                var body = $(this).data().datagrid.dc.body2;
                body.find('table tbody').append('暂无数据');
                $(this).closest('p.datagrid-wrap').find('p.datagrid-pager').hide();
            }
            //如果通过调用reload方法重新加载数据有数据时显示出分页导航容器
            else $(this).closest('p.datagrid-wrap').find('p.datagrid-pager').show();

        },

        columns: [[
            { field: 'ID', title: 'ID',hidden:false },
            { field: 'LS_NO', title: 'LS_NO', width: '100px', align: 'left', sortable: true,editor:'text' },
            { field: 'LL_SIGN', title: 'LL_SIGN', width: '100px', align: 'left', sortable: true, editor: 'numberbox' },
            { field: 'LS_FBBMMC', title: 'LS_FBBMMC', width: '100px', align: 'left', sortable: true, editor: 'text' },
            { field: 'LS_FBRXM', title: 'LS_FBRXM', width: '100px', align: 'left', sortable: true, editor: 'text' },
            {
                field: 'LS_FBZT', title: 'LS_FBZT', width: '100px', align: 'left', sortable: true,
                editor: { type: 'validatebox', options: { required: true } }
            },
            {
                field: 'LDT_FBRRQ', title: 'LDT_FBRRQ', width: '100px', editor: 'datebox',
                formatter: function (value, row, index) {
                    if (row.LDT_FBRRQ) {
                        return new Date(value).Format("yyyyMMdd");
                    } else {
                        return value;
                    }
                }
            },
            {
                field: 'action', title: 'Action', width: 80, align: 'center',
                formatter: function (value, row, index) {
                    if (row.editing) {
                        var s = '<a href="javascript:void(0)" onclick="saverow(this)">Save</a> ';
                        var c = '<a href="javascript:void(0)" onclick="cancelrow(this)">Cancel</a>';
                        return s + c;
                    } else {
                        var e = '<a href="javascript:void(0)" onclick="editrow(this)">Edit</a> ';
                        var d = '<a href="javascript:void(0)" onclick="deleterow(this)">Delete</a>';
                        return e + d;
                    }
                }
            }

        ]],
        toolbar:
        [{
            text: '添加数据',
            iconCls: 'icon-add',
            handler: function () {
                $("#dg").datagrid("insertRow", {
                    index: 0,
                    row: {}
                });
                $("#dg").datagrid("beginEdit", 0);

            }
        },
        {
            text: '插入数据',
            iconCls: 'icon-add',
            handler: function () {
                insert();
            }
        },
        {
            text: '编辑数据',
            iconCls: 'icon-edit',
            handler: function () {
                var hasSelect = $("#dg").datagrid("getSelections");
                if (hasSelect.length == 1) { //如果只选择了一行则可以进行修改，否则不操作
                    //alert(hasSelect[0].name);
                    var row = hasSelect[0];
                    rowNumber = $("#dg").datagrid("getRowIndex", row);
                    $("#dg").datagrid("beginEdit", rowNumber);
                }
            }
        },
        {
            text: '删除数据',
            iconCls: 'icon-edit',
            handler: function () {
                var hasSelect = $("#dg").datagrid("getSelections");
                if (hasSelect.length == 1) { //如果只选择了一行则可以进行修改，否则不操作
                    $.messager.confirm('Confirm', 'Are you sure?', function (r) {
                        if (r) {
                            var row = $("#dg").datagrid("getSelections")[0];
                            rowNumber = $("#dg").datagrid("getRowIndex", row);
                            $('#dg').datagrid('deleteRow', rowNumber);
                        }
                    });
                }
            }
        },

        {
            text: '保存修改',
            iconCls: 'icon-save',
            handler: function () {
                $("#dg").datagrid("endEdit", rowNumber);
            }
        }],

        onBeforeEdit: function (index, row) {
            row.editing = true;
            $(this).datagrid('refreshRow', index);
        },
        onAfterEdit: function (index, row) {
            row.editing = false;
            //var jsonstr = JSON.stringify(row);
            //var jsonobj = JSON.parse(jsonstr);
            //delete jsonobj['editing'];
            //alert(JSON.stringify(jsonobj));
            $.ajax({
                url: '/Ashxs/Valids.ashx?action=saverowjson',
                data: { 'param': JSON.stringify(row) },
                type: 'POST',
                complete: function (xhr) {
                    alert(xhr.responseText)
                }
            });



            $(this).datagrid('refreshRow', index);
        },
        onCancelEdit: function (index, row) {
            row.editing = false;
            $(this).datagrid('refreshRow', index);
        },


        //onAfterEdit: function (index, data, changes) {
        //    $.post("${pageContext.request.contextPath}/");
        //},

        //onClickRow: function (index, row) {
        //    $("#dg").datagrid("beginEdit", index);
        //}

    });

    //function updateActions(index) {
    //    $('#dg').datagrid('updateRow', {
    //        index: index,
    //        row: {}
    //    });
    //}
    function getRowIndex(target) {
        var tr = $(target).closest('tr.datagrid-row');
        return parseInt(tr.attr('datagrid-row-index'));
    }
    function editrow(target) {
        $('#dg').datagrid('beginEdit', getRowIndex(target));
    }
    function deleterow(target) {
        $.messager.confirm('Confirm', 'Are you sure?', function (r) {
            if (r) {
                $('#dg').datagrid('deleteRow', getRowIndex(target));
            }
        });
    }
    function saverow(target) {
        $('#dg').datagrid('endEdit', getRowIndex(target));
    }
    function cancelrow(target) {
        $('#dg').datagrid('cancelEdit', getRowIndex(target));
    }
    function insert() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            var index = $('#dg').datagrid('getRowIndex', row);
        } else {
            index = 0;
        }
        var wjid;
        $.ajaxSettings.async = false;
        $.get("/Ashxs/Valids.ashx?action=getid", function (result) {
            wjid = parseInt(result);
        });
        $.ajaxSettings.async = true;

        $('#dg').datagrid('insertRow', {
            index: index,
            row: {
                ID: wjid
            }
        });
        $('#dg').datagrid('selectRow', index);
        $('#dg').datagrid('beginEdit', index);
    }


    Date.prototype.Format = function (fmt) {   
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3),//季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
</script>