    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />

    <link href="../Content/easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="../Content/easyui/themes/icon.css" rel="stylesheet" />
    <script src="../Content/easyui/jquery.min.js"></script>
    <script src="../Content/easyui/jquery.easyui.min.js"></script>
    <script src="../Content/easyui/locale/easyui-lang-zh_CN.js"></script>
    
    <script src="../../Scripts/printThis.js"></script>

@{
    Layout = null;
}

<table class="easyui-datagrid" id="dg" style="width:100%;"></table>
<script>
    $('#dg').datagrid({
        //title: '发文管理',
        idField: 'ID',
        url: '/Ashxs/Docmng.ashx?action=getwjlistjson',
        pagination: true,//表示在datagrid设置分页      
        rownumbers: true,
        singleSelect: true,
        striped: true,//奇偶行使用不同背景色
        nowrap: true,//数据显示在一行里
        pageSize:10,
        pageList: [5, 10, 15, 20],
        //collapsible: true,
        fitColumns: true,
        remoteSort: false,
        loadMsg: "正在努力加载数据，请稍后...",
        queryParams: {},
        onLoadSuccess: function (data) {
            if (data.total == 0) {
                var body = $(this).data().datagrid.dc.body2;
                body.find('table tbody').append('暂无数据');
                $(this).closest('p.datagrid-wrap').find('p.datagrid-pager').hide();
            }
            else $(this).closest('p.datagrid-wrap').find('p.datagrid-pager').show();

        },

        columns: [[
            { field: 'ID', title: 'ID',hidden:false },
            { field: 'LS_NO', title: 'LS_NO', width: '100px', align: 'left', sortable: true },
            { field: 'LL_SIGN', title: 'LL_SIGN', width: '100px', align: 'left', sortable: true },
            { field: 'LS_FBBMMC', title: 'LS_FBBMMC', width: '100px', align: 'left', sortable: true },
            { field: 'LS_FBRXM', title: 'LS_FBRXM', width: '100px', align: 'left', sortable: true},
            {
                field: 'LS_FBZT', title: 'LS_FBZT', width: '100px', align: 'left', sortable: true },
            {
                field: 'LDT_FBRRQ', title: 'LDT_FBRRQ', width: '100px',
                formatter: function (value, row, index) {
                    if (row.LDT_FBRRQ) {
                        return new Date(value).Format("yyyy/MM/dd");
                    } else {
                        return value;
                    }
                }
            }
        ]],
        toolbar:
            [
                {
                    text: '编辑。。',
                    iconCls: 'icon-edit',
                    handler: function () {
                        var hasSelect = $("#dg").datagrid("getSelected");
                        if (hasSelect!=null) { 
                            formload(hasSelect['ID']);
                        }
                    }
                },
                {
                    text: '打印。。',
                    iconCls: 'icon-pring',
                    handler: function () {
                        printme();
                    }
                }
            ],
        onDblClickRow: function (index, row) {
            formload(row['ID']);
        }
    });
    function formload(id) {
        $.ajaxSettings.async = false;
        $('#fw').form('load', '/Ashxs/Docmng.ashx?action=getwjrowjson&id=' + id);
        $('#filesrc1').attr('href', '/FileUpLoad/Wjfiles/' + id + '/' + $('#filename1').val());
        $('#filesrc1').text($('#filename1').val());
        $('#filesrc2').attr('href', '/FileUpLoad/Wjfiles/' + id + '/' + $('#filename2').val());
        $('#filesrc2').text($('#filename2').val());
        $('#dgsp').datagrid('reload', { llwjid: id});
        $.ajaxSettings.async = true;
        $('#ww').window('open');
    }
    Date.prototype.Format = function (fmt) {   
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3),//季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
</script>

    <!--修改窗口-->

    <div id="ww" class="easyui-window" title="修改" collapsible="false" minimizable="false" data-options="modal:true,closed:true,iconCls:'icon-save'"
        maximizable="false" style="width: 600px; height: 400px; padding: 5px;top:5px; background: #fafafa;">

        <div class="easyui-layout" fit="true">
            <div region="center" border="false" style="padding: 10px; background: #fff; border: 1px solid #ccc;">
                <form id="fw" method="post">
                    <table id="tw" cellpadding="3"  style="width: 100%;height:auto">
                        <tr>
                            <td>ID</td><td><input class="easyui-textbox" type="text" name="ID" id="ID" style="width: 100%" data-options="readonly:true"/></td>
                            <td>单号</td><td><input class="easyui-textbox" type="text" name="LS_NO"id="LS_NO" style="width: 100%"  data-options="readonly:true,"/></td>
                        </tr>
                        <tr>
                            <td>LL_SIGN</td><td><input class="easyui-textbox" type="text" name="LL_SIGN" id="LL_SIGN" style="width: 100%" data-options="readonly:true,"/></td>
                            <td>发布单位</td><td>
                                <!--<input class="easyui-textbox" type="text" name="LS_FBBMMC" id="LS_FBBMMC" style="width: 100%" data-options="readonly:true,"/>-->
                                <input class="easyui-combobox" name="LS_FBBMMC" id="LS_FBBMMC" style="width: 100%" data-options="valueField:'NODE',textField:'DISPLAYTEXT',url:'/Ashxs/Selecs.ashx?action=getbmlist'"/>
                             </td>
                        </tr>
                        <tr>
                           <td>发布人</td><td><input class="easyui-textbox" type="text" name="LS_FBRXM" id="LS_FBRXM" style="width: 100%" data-options="readonly:true,"/></td>
                           <td>发布时间</td><td><input class="easyui-datebox" type="text" name="LDT_FBRRQ" id="LDT_FBRRQ" style="width: 100%" data-options="readonly:true,"/></td>
                        </tr>
                        <tr>
                           <td>文件名称</td><td><input class="easyui-textbox" type="text" name="LS_FBZT" style="width: 100%" data-options="required:true"/></td>
                           <td>文件类型</td><!--<td><input class="easyui-textbox" type="text" name="LS_WJLX" style="width: 100%" /></td>-->
                            <td><input class="easyui-combobox" name="LS_WJLX" style="width: 100%" data-options="valueField:'ID',textField:'LS_FBZT',url:'/Ashxs/Docmng.ashx?action=getlxlistjson'"/></td>


                        </tr>
                        <tr>
                           <td>正文</td><td colspan="2">
                               <a id="filesrc1" href="#" target="_blank">LS_WJMC</a>
                               <input type="text" name="LS_WJMC" id="filename1" style="display:none"/>

                           </td>
                           <td></td>
                        </tr>
                        <tr>
                           <td>附件</td><td colspan="2">
                               <a id="filesrc2" href="#" target="_blank">LS_FJMC</a>
                               <input type="text" name="LS_FJMC" id="filename2" style="display:none"/>
                            </td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>关键词</td><td colspan="3" ><input class="easyui-textbox" type="text" name="LS_GJC" style="width: 100%"/></td>
                        </tr>
                        <tr>
                            <td>接收人/部门</td><td colspan="3" ><div id="resjsr"><input class="easyui-textbox" type="text" name="LS_JSBMXS" id="LS_JSBMXS" style="width:100%;height:20px" data-options="required:true,multiline:true"/></div>
                                <div style="display:none"><input class="easyui-textbox" type="text" name="LS_JSBMLB" id="LS_JSBMLB" style="width:100%;height:20px;" data-options="multiline:true"/></div></td>
                        </tr>
                        <tr>
                            <td>备注事项</td><td colspan="3" ><input class="easyui-textbox" type="text" name="LS_WJBZ" id="LS_WJBZ" style="width:100%;height:20px" data-options="multiline:true"/></td>
                        </tr>

                    </table>
                 </form>

                <form id="fw2" method="get" style="width: 100%;height:300px;">
                    <table id="dgsp" class="easyui-datagrid"  style="width: 100%;height:auto;"
                        data-options="
                        url: '/Ashxs/Docmng.ashx?action=getwjhdlist',
                        idField: 'ID',
                        rownumbers: true,
                        singleSelect: true,
                        fit: true,
                        fitColumns: true,
                        queryParams:{llsign:-1}
                        ">
                        <thead>
                            <tr>
                                <th data-options="field:'ID',title:'ID',hidden:false,width:80">ID</th>
                                <th data-options="field:'LL_WJID',hidden:false,width:80">LL_WJID</th>
                                <th data-options="field:'LL_SIGN',hidden:false,width:80">LL_SIGN</th>
                                <th data-options="field:'LS_BLRXM',hidden:false,width:80">LS_BLRXM</th>
                                <th data-options="field:'LS_BLYJ',hidden:false,width:80">LS_BLYJ</th>
                                <th data-options="field:'LDT_BLRRQ',hidden:false,width:80,
                                    formatter: function (value, row, index) {
                                        if (row.LDT_BLRRQ) {
                                            return new Date(value).Format('yyyy/MM/dd');
                                        } else {
                                            return value;
                                        }
                                    }">LDT_BLRRQ</th>

                                </tr>
                            </thead>

                </table>
                </form>


            </div>
        </div>
        
    </div>

<script>
    $(function () {
        if (!sessionStorage.getItem('userxm')) {
            window.location.replace("/home/Index");
        }
    });

    function printme() {
        $('#fw input').each(function () {
            $(this).attr('value', $(this).val());
        })
        $('#fw').printThis({
            importCSS: true,
            importStyle: true,
            formValues: true,
            copyTagClasses: true
        });
    }

    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };


</script>
<style>
    .textbox {
        border: 0px;
    }
   #tw,#tw2 {
        overflow: hidden;
        table-layout: fixed;

    }

    #tw td,#tw2 td{
        width:25%;
          border: 1px solid #95B8E7;
          background-color: #fafafa;
          vertical-align: middle;
          text-align:center;
          position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        font-size: 14px;
    }
</style>