    <link href="../Content/easyui/themes/metro-blue/easyui.css" rel="stylesheet" />
    <link href="../Content/easyui/themes/icon.css" rel="stylesheet" />
    <script src="../Content/easyui/jquery.min.js"></script>
    <script src="../Content/easyui/jquery.easyui.min.js"></script>
    <script src="../Content/easyui/locale/easyui-lang-zh_CN.js"></script>
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />

@{
    Layout = null;
}

<h2>Filecreate</h2>
@Html.Partial("_Filecreate")