<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.24.0" newVersion="4.5.24.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <!--<add name="EFDbContext" connectionString="Data Source=oracle;Persist Security Info=True;User ID=jl_mis;Password=jl_mis" providerName="OraOLEDB.Oracle.1" />
        <add name="EFDbContext1" connectionString="server=192.168.182.236;database=SportsStore;uid=sa;password=Zhao1234" providerName="System.Data.SqlClient" />
        <add name="EFDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User ID=jl_mis;Password=jl_mis;Data Source=192.168.182.236:1521/orcl" />
        <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />-->

    <add name="EFDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="DATA SOURCE=192.168.182.236:1521/orcl;PERSIST SECURITY INFO=True;USER ID=JL_MIS;Password=jl_mis" />
    <add name="EFDbContext1" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.182.236;Initial Catalog=SportsStore;Persist Security Info=True;User ID=sa;Password=Zhao1234" />
    <add name="EFDbContext2" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.182.236)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));User ID=JL_MIS;Password=jl_mis;" />
    <add name="EFencode" connectionString="REFUQSBTT1VSQ0U9MTkyLjE2OC4xODIuMjM2OjE1MjEvb3JjbDtQRVJTSVNUIFNFQ1VSSVRZIElORk89VHJ1ZTtVU0VSIElEPUpMX01JUztQYXNzd29yZD1qbF9taXM=" />

  </connectionStrings>


</configuration>