<div id="tabs" class="easyui-tabs" fit="true" border="false">
            <div title="欢迎使用" style="padding: 20px; overflow: hidden;" id="home">
                <h1>
                    Welcome !</h1>
            </div>
</div>
<style>
    .easyui-tabs .panel-body {
        padding: 5px 5px 0px 5px;
    }
</style>